<%= content_for(:title, 'Login') %>

<div class="container">
  <article class="col-md-12 col-lg-12 col-sm-12 col-xs-12 maincontent margin_top_20">
    <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1">
      <div class="panel panel-default panel-devise">
        <div class="panel-heading login-logo-head">
          <h4>Log in</h4>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= render 'layouts/error', object: resource %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, required: false, class: 'form-control', autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control', required: false %>
              </div>
              <div class="form-group">
                <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
                <%= f.label :remember_me %>
              </div>

              <div class="form-group">
                <%= render "users/shared/links" %>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <%= f.submit "SIGN IN", class: 'btn btn-primary col-md-12' %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </article>
</div>