<footer>
  <div class="container">
    <span class="bigicon icon-speedometer"></span>

    <div class="footerlinks"><!-- FOOTER LINKS START -->
      <ul>
        <li><a href="<%= homes_path %>">Home</a></li>
        <li><a href="<%= abouts_path %>">About</a></li>
        <li><a href="<%= services_path %>">Services</a></li>
        <li><a href="<%= portfolios_path %>">Portfolio</a></li>
        <li><a href="<%= galleries_path %>">Gallery</a></li>

        <!--replace the email address below with your email address-->
        <li><a href="<%= contacts_path %>">Contact</a></li>
        <!--<li><a href="mailto:m@creatrix.us">Contact</a></li>-->
      </ul>
    </div><!-- FOOTER LINKS END -->

    <div class="copyright"><!-- FOOTER COPYRIGHT START -->
      <p>BTT provide value-added services to the travelers who come to experience our country. We are committed to make
        home away from home</p>
    </div><!-- FOOTER COPYRIGHT END -->

    <div class="footersocial wow fadeInUp" data-wow-duration="3s"><!-- FOOTER SOCIAL ICONS START -->
      <ul>
        <li><a href="http://facebook.com" target="_blank"><span class="icon-social-facebook"></span></a>
        </li>
        <li><a href="http://twitter.com" target="_blank"><span class="icon-social-twitter"></span></a></li>
        <li><a href="#" target="_blank"><span class="icon-social-youtube"></span></a></li>
        <li><a href="#" target="_blank"><span class="icon-social-dribbble"></span></a></li>
        <li><a href="#" target="_blank"><span class="icon-social-tumblr"></span></a></li>
      </ul>
    </div><!-- FOOTER SOCIAL ICONS END -->
  </div>
</footer><!-- FOOTER END -->
